body {
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
}
header {
    position:absolute;
    top: 0;
    left: 0;
    background-color: rgb(206, 17, 38);
    height: 175px;
    width: 100%;
    text-align: center;
    color: white;
}
#titreDuSite {
    font-size: 48px;
    margin: 15px;
}

#flag {
    width: 150px;
    height: 100px;
    border: solid black;
    position: absolute;
    top: 25px;
    left: 25px;
}
#nav2 {
    text-align: center;
    font-size: 24px;
}
#nav1 {
    position: absolute;
    top: 9px;
    right: 9px;
    text-align: right;
}
a.nav {
    color: white;
}
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
li {
    display: inline;
}
li a {
    text-decoration: none;
    text-align: center;
    padding: 8px;
}
li a:hover {
    background-color: rgb(143, 14, 29);}
#active {
    background-color: rgb(238, 24, 49);}
#contenu {
    position: absolute;
    top: 175px;
    left: 0px;
    width: 100%;
}
h2 {
    position: absolute;
    left: 20%;
    font-size: 36px;
}
.lieu {
    text-align: center;
    width: 445px;
    height: 275px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

img {
    width: 100%;
    height: 215px;
}

.nom {
    margin: 0px;
    font-size: 36px;
    
}
#lieu1 {
    position: absolute;
    left: 20%;
    top: 91px;
}
#lieu2 {
    position: absolute;
    right: 20%;
    top: 91px;
}
#lieu3 {
    position: absolute;
    left: 20%;
    top: 424px;
}
#lieu4 {
    position: absolute;
    right: 20%;
    top: 424px;
}
.nom a {
    text-decoration: none;
    color: black;
}
.nom a:hover {
    color: rgb(0, 104, 71);
}
.preview {
    color: white;
    font-size: 21px;
    background-color: rgb(0, 0, 0, 65%);
    position: absolute;
    left: 0px;
    top: 0px;
    height: 215px;
    opacity: 0;
    transition: 0.5s ease;
}

.preview:hover {
    opacity: 1;
}
#video {
    font-size: 36px;
    text-align: center;
    position: absolute;
    top: 1024px;
    left: 50%;
    margin-left: -275px;
    width: 550px;

}
